
<div id="header">
Page <%= parseInt(page) + 1 %> of <% if(result.has_more) { %>&#62;<% } %><%= result.num_results_total %> results
</div>

<div id="results">
<% result.items.forEach(function(item) { %>
<div class="item">
	<span class="url"><%= item.url_str %></span><br>
	<a class="title" href="<%= item.url %>" target="_blank"><%= item.title %></a><br>
	<span class="date"><%= item.date_str %> | </span>
	<span class="context"><%- item.context %></span><br>
</div>
<% }); %>
<% if(!result.items.length) { %>
<br>No Results!<br>
<% } %>
</div>

<div id="page_list">
<% page_list.forEach(function(entry) { %>
<% if(entry.href) { %>
	<a class="page" href="<%- entry.href %>"><%= entry.text %></a>
<% } else { %>
	<%= entry.text %>
<% }}); %>
</div>

<div id="stats">
<hr>
Load: <%= result.load_time_us / 1000 %> ms |
Compute: <%= result.compute_time_us / 1000 %> ms |
Total: <%= (result.load_time_us + result.compute_time_us) / 1000 %> ms
</div>

<div id="timing_info" style="display: none">
<%- JSON.stringify(result.timing_info) %>
</div>
